In [12]:
import pandas as pd
import os
os.chdir("/Users/kevin/Downloads")
buyer_sample_social = pd.read_csv('buyer_sample_social.csv')

In [13]:
print(buyer_sample_social)

     Unnamed: 0       Unnamed: 1    Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0      buyer_id             city         state    country       name
1          1054      San Antonio            CA         US      carol
2         33970           aurora            IL         US      susie
3        354843         Oil City            PA         US      kelly
4        791436   Valley Cottage            NY         US    loretta
5        826959        Villanova            PA         US       eric
6       1005618         Kingston            PA         US     dennis
7       1080479     Ormond Beach            FL         US        NaN
8       1093190         Lakeland            FL         US       john
9       1246653          buffalo            MN         US     austin
10      1446643          Yonkers            NY         US       eric
11      2118711           Dublin            OH         US     andrew
12      3746461        Pemberton            NJ         US    anthony
13      3919949      Midway Park            NC         US   veronica
14      4536459             Ames            IA         US  katherine
15      5524557       Carbondale            IL         US        NaN
16      5551027       Caneyville            KY         US        NaN
17      5897279       Morgantown            WV         US       joan
18      6057559        Calabasas            CA         US     ashlee
19      6253745   Port Charlotte           Fla         US      carol
20      6394613          Chester      Cheshire         GB   margaret
21      7704869        Jamestown  North Dakota         US      maria
22      8530633     Cross Plains            WI         US     judith
23      9576367  North Tonawanda            NY         US      jason
24     10058781       Cedar Park            TX         US     dennis
25     10527977           Sonora            CA         US    brianna
26     10773216              NaN            FL         US      carol
27     11798770              NaN            WI         US      ilene
28     12261292              NaN            CO         US        jan
29     12468883          Deltona       Florida         US        NaN
...         ...              ...           ...        ...        ...
1026   35802006              NaN            TX         US        NaN
1027   35802486           NAHANT            MA         US      edwin
1028   35811009         Richmond            VA         US    raymond
1029   35812001    Elizabethtown            KY         US       toni
1030   35815773      Coon Rapids            MN         US        NaN
1031   35818405        LITTLETON            CO         US    melissa
1032   35826791           Moscow            OH         US        NaN
1033   35829461      Westminster            CO         US     callie
1034   35834391            Hemet            CA         US        NaN
1035   35838345       Sacramento            CA         US     ismael
1036   35844164         DeQuincy            LA         US      april
1037   35850526         franklin            NH         US        NaN
1038   35854608            Tampa       Florida         US     austin
1039   35856164        Sausalito            CA         US      peter
1040   35866158      LOS ANGELES            CA         US      kevin
1041   35890074           LOOMIS            CA         US        NaN
1042   35927600          Astoria            NY         US        NaN
1043   35927732  Jj jjjjpz   Jws             A         FR        NaN
1044   35941939      Winter Park            FL         US        NaN
1045   35942696            Tomah            WI         US        NaN
1046   35953454           Dallas         Texas         US        NaN
1047   35957717    VLG OF LAKEWD            IL         US     sharon
1048   35962666             Howe            IN         US        NaN
1049   35970524         Kalkaska            MI         US      donna
1050   35973103    Newport coast            CA         US        NaN
1051   35974105        Littleton            CO         US        NaN
1052   35977383            Parma            OH         US   kathleen
1053   35979563      Folly Beach            SC         US        NaN
1054   35984375          SANFORD            FL         US        NaN
1055   35985457      Kansas City            MO         US        NaN

     Unnamed: 5  Unnamed: 6   Unnamed: 7      Unnamed: 8       Unnamed: 9  \
0        gender  likely_age  referrer_id  user_source_em  adwords_keyword
1        37.15%        53.8          NaN           4.84%              NaN
2             1          98          NaN             NaN              NaN
3             1          40          NaN             NaN              NaN
4             1          79          NaN             NaN              NaN
5             0          47          NaN             NaN              NaN
6             0          65          NaN             NaN              NaN
7           NaN         NaN          NaN             NaN              NaN
8             0          70          NaN             NaN              NaN
9             0          22          NaN               3              NaN
10            0          47          NaN             NaN              NaN
11            0          30          NaN             NaN              NaN
12            0          27          NaN             NaN              NaN
13            1          37          NaN             NaN              NaN
14            1          27          NaN             NaN              NaN
15          NaN         NaN          NaN             NaN              NaN
16          NaN         NaN          NaN             NaN              NaN
17            1          85          NaN             NaN              NaN
18            1          30          NaN             NaN              NaN
19            1          71          NaN               6              NaN
20            1          96          NaN               4              NaN
21            1          53          NaN               3              NaN
22            1          74          NaN               3              NaN
23            0          40          NaN             NaN              NaN
24            0          65          NaN             NaN              NaN
25            1          18          NaN               3              NaN
26            1          71          NaN             NaN              NaN
27            1          67          NaN             NaN              NaN
28            1          61          NaN             NaN              NaN
29          NaN         NaN          NaN             NaN              NaN
...         ...         ...          ...             ...              ...
1026        NaN         NaN          NaN               6              NaN
1027          0          95          NaN               6              NaN
1028          0          93          NaN               6              NaN
1029          1          57          NaN               6              NaN
1030        NaN         NaN          NaN               6              NaN
1031          1          38          NaN               6              NaN
1032        NaN         NaN          NaN               6              NaN
1033          1          18          NaN               6              NaN
1034        NaN         NaN          NaN               6              NaN
1035          0          18          NaN               6              NaN
1036          1          37          NaN               6              NaN
1037        NaN         NaN          NaN               6              NaN
1038          0          22          NaN               6              NaN
1039          0          60          NaN               6              NaN
1040          0          54          NaN               6              NaN
1041        NaN         NaN          NaN               6              NaN
1042        NaN         NaN          NaN               6              NaN
1043        NaN         NaN          NaN               6              NaN
1044        NaN         NaN          NaN               6              NaN
1045        NaN         NaN          NaN               6              NaN
1046        NaN         NaN          NaN               6              NaN
1047          1          70          NaN               6              NaN
1048        NaN         NaN          NaN               6              NaN
1049          1          58          NaN               6              NaN
1050        NaN         NaN          NaN               6              NaN
1051        NaN         NaN          NaN               6              NaN
1052          1          66          NaN               6              NaN
1053        NaN         NaN          NaN               6              NaN
1054        NaN         NaN          NaN               6              NaN
1055        NaN         NaN          NaN               6              NaN

           Unnamed: 10 Unnamed: 11   Unnamed: 12 Unnamed: 13  \
0     count(offers.id)    sum(fvf)  days_visited  page_views
1               19.45%       $7.61         14.70         267
2                    7        5.13             4           4
3                    2           1             1           1
4                   11       12.49             3          12
5                    3        1.52             2           2
6                    7       10.85            90         765
7                    1        7.35             1           1
8                    1        1.23             1           1
9                  321      3010.9          8928      221619
10                   5        5.59             3          20
11                   2        0.52             1           1
12                   2       13.81             2           7
13                   2           1             2           5
14                   2        1.02             1           1
15                  25       17.77            48         228
16                   2       11.15             2           6
17                  55       41.42            72         174
18                   2        8.97             1           2
19                   1        3.12             7         120
20                   6        7.25             1           1
21                  27      117.42           400       15580
22                   1         0.5             2           8
23                   4        6.58             1           1
24                   2        3.61             6          51
25                   2        8.14             1           2
26                   2       12.74             1           3
27                   3        1.56             1           1
28                   2       10.36             1           1
29                   1         0.5             2           8
...                ...         ...           ...         ...
1026                 1         0.6             1           1
1027                 1        7.63             4          35
1028                 1        7.52             3          25
1029                 1        0.77             1           2
1030                 1         0.5             1           2
1031                 1         0.5             2           6
1032                 1         0.5             1           2
1033                 1        0.91             5          39
1034                 1         0.5             1           3
1035                 1        1.05             3          10
1036                 1         0.5             1          17
1037                 1         1.4             1           1
1038                 1         0.5             1           1
1039                 2       14.98             2          16
1040                 3       61.43             4         110
1041                 1        5.08             1           1
1042                 1        1.12             1           5
1043                 1        6.93             1           1
1044                 1        1.05             1           1
1045                 1         0.5             1          18
1046                 1        6.82             2          21
1047                 1        0.56             2           8
1048                 1         0.5             1           3
1049                 1         0.5             1           1
1050                 1           7             1           3
1051                 1         0.5             1           3
1052                 1        0.87             1           1
1053                 1         0.5             1           2
1054                 1         1.4             1           6
1055                 1        1.29             1           1

                   Unnamed: 14 Unnamed: 15       Unnamed: 16   Unnamed: 17
0     count(user_feedbacks.id)   is_seller  date(created_at)  days_as_user
1                       11.29%       0.76%        2018-11-26       #DIV/0!
2                            4         NaN        2009-01-04           NaN
3                            0         NaN        2010-02-07           NaN
4                            3         NaN        2010-12-02           NaN
5                            0         NaN        2010-12-16           NaN
6                           90         NaN        2011-04-04           NaN
7                            0         NaN        2011-05-13           NaN
8                            0         NaN        2011-05-20           NaN
9                         8928        TRUE        2011-08-06           NaN
10                           0         NaN        2011-11-08           NaN
11                           0         NaN        2012-02-17           NaN
12                           0         NaN        2012-04-25           NaN
13                           0         NaN        2012-05-09           NaN
14                           0         NaN        2012-10-10           NaN
15                          48         NaN        2013-05-12           NaN
16                           0         NaN        2013-05-19           NaN
17                          72         NaN        2013-08-11           NaN
18                           0         NaN        2013-09-21           NaN
19                           7         NaN        2013-11-04           NaN
20                           1         NaN        2013-11-24           NaN
21                         400         NaN        2014-04-27           NaN
22                           0         NaN        2014-06-22           NaN
23                           0         NaN        2014-08-31           NaN
24                           0         NaN        2014-10-13           NaN
25                           0         NaN        2014-11-27           NaN
26                           0         NaN        2014-12-16           NaN
27                           1         NaN        2015-03-14           NaN
28                           0         NaN        2015-04-19           NaN
29                           0        TRUE        2015-05-05           NaN
...                        ...         ...               ...           ...
1026                         0         NaN        2018-11-16           NaN
1027                         0         NaN        2018-11-16           NaN
1028                         0         NaN        2018-11-17           NaN
1029                         0         NaN        2018-11-17           NaN
1030                         0         NaN        2018-11-17           NaN
1031                         0         NaN        2018-11-17           NaN
1032                         0         NaN        2018-11-18           NaN
1033                         0        TRUE        2018-11-18           NaN
1034                         0         NaN        2018-11-18           NaN
1035                         0         NaN        2018-11-18           NaN
1036                         0         NaN        2018-11-19           NaN
1037                         0         NaN        2018-11-19           NaN
1038                         0         NaN        2018-11-19           NaN
1039                         0         NaN        2018-11-19           NaN
1040                         0         NaN        2018-11-20           NaN
1041                         0         NaN        2018-11-21           NaN
1042                         0         NaN        2018-11-23           NaN
1043                         0         NaN        2018-11-23           NaN
1044                         0         NaN        2018-11-24           NaN
1045                         0         NaN        2018-11-24           NaN
1046                         0         NaN        2018-11-24           NaN
1047                         0         NaN        2018-11-25           NaN
1048                         0         NaN        2018-11-25           NaN
1049                         0         NaN        2018-11-25           NaN
1050                         0         NaN        2018-11-25           NaN
1051                         0         NaN        2018-11-25           NaN
1052                         0         NaN        2018-11-26           NaN
1053                         0         NaN        2018-11-26           NaN
1054                         0         NaN        2018-11-26           NaN
1055                         0         NaN        2018-11-26           NaN

[1056 rows x 18 columns]

In [ ]:
ids = buyer_sample_social.