In [9]:
import os
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go
import plotly.offline as po

tls.set_credentials_file(username='kevinbigfoot',api_key='fC6dwyjUkFPLiUxzMkw8')

orig_df = pd.read_csv("winning_booths_data.csv")


top_categories = ['No Category', 'Fashion', 'Home & Garden', 'Health & Beauty', 'Parts & Accessories', 'Jewelry & Watches']
df = orig_df[orig_df.featured_category_id.isin(top_categories)]

In [10]:
init_notebook_mode(connected=True)

In [44]:
no_category = df[df.featured_category_id == 'No Category']
fashion = df[df.featured_category_id == 'Fashion']
home_garden = df[df.featured_category_id == 'Home & Garden']
health_beauty = df[df.featured_category_id == 'Health & Beauty']
parts_accessories = df[df.featured_category_id == 'Parts & Accessories']
jewelry_watches = df[df.featured_category_id == 'Jewelry & Watches']
categories = [no_category, fashion, home_garden, health_beauty, parts_accessories, jewelry_watches]
no_category.head()

,id,featured_category_id,profit_estimate,value_em,created_at,first_sale,days_to_sale,days_as_user,profit_per_day,orders,...,state,country,items_for_sale,view_count,offers,conversion_rate,membership_level,feedback,rate,rating
0,363.0,No Category,149.68,MINNOW,2008-07-14,2008-08-23,40.00,"3,809.00",0.04,257.00,...,Kentucky,US,8.00,43.00,1.00,NAN,0.0,121.00,0.47,5.00
2,819.0,No Category,85.67,MINNOW,2008-08-10,2008-08-17,7.00,"3,782.00",0.02,218.00,...,Texas,US,9.00,50.00,0.00,0.00,0.0,86.00,0.39,5.00
5,1199.0,No Category,197.26,SEA_BASS,2008-08-21,2008-08-27,6.00,"3,771.00",0.05,756.00,...,Texas,US,592.00,252.00,0.00,0.00,0.0,108.00,0.14,5.00
6,1490.0,No Category,870.34,MINNOW,2008-08-25,2008-09-26,32.00,"3,767.00",0.23,253.00,...,TN,US,530.00,296.00,9.00,0.03,0.0,13.00,0.05,5.00
8,1630.0,No Category,"4,069.87",SEA_BASS,2008-08-27,2009-02-25,182.00,"3,765.00",1.08,433.00,...,CO,US,108.00,"1,259.00",4.00,NAN,3.0,272.00,0.63,4.97

In [12]:

size = len(df)
for category in categories:
    if len(category) < size:
        size = len(category)


no_category = no_category.sample(size)
fashion = fashion.sample(size)
home_garden = home_garden.sample(size)
health_beauty = health_beauty.sample(size)
parts_accessories = parts_accessories.sample(size)
jewelry_watches = jewelry_watches.sample(size)

In [40]:
start = 0
end = 30
size=3

In [41]:
trace0 = go.Histogram(
    x = no_category.days_to_sale,
    name='No Category',
    opacity =.5,
    xbins=dict(start=start, size=size, end=end),
)

trace1 = go.Histogram(
    x = fashion.days_to_sale,
    name='Fashion',
    opacity =.5,
    xbins=dict(start=start, size=size, end=end),
    
)
trace2 = go.Histogram(
    x = home_garden.days_to_sale,
    name='Home & Garden',
    opacity =.5,
    xbins=dict(start=start, size=size, end=end),
)

trace3 = go.Histogram(
    x = health_beauty.days_to_sale,
    name='Health & Beauty',
    opacity =.5,
    xbins=dict(start=start, size=size, end=end),
)

trace4 = go.Histogram(
    x = parts_accessories.days_to_sale,
    name='Parts & Accessories',
    opacity =.5,
    xbins=dict(start=start, size=size, end=end),
)

trace5 = go.Histogram(
    x = jewelry_watches.days_to_sale,
    name='Jewelry & Watches',
    opacity =.5,
    xbins=dict(start=start, size=size, end=end),
)

In [42]:
data = [trace0,trace1,trace2,trace3,trace4,trace5]

layout = go.Layout(title = 'days_to_sale/category')
fig = go.Figure(data = data, layout = layout)

In [43]:
po.plot(fig)

'file:///Users/kevin/data_analysis/temp-plot.html'

In [59]:

trace0 = go.Box(
    x = no_category.days_to_sale,
    name='No Category',
    opacity =.5
)

trace1 = go.Box(
    x = fashion.days_to_sale,
    name='Fashion',
    opacity =.5
)
trace2 = go.Box(
    x = home_garden.days_to_sale,
    name='Home & Garden',
    opacity =.5
)

trace3 = go.Box(
    x = health_beauty.days_to_sale,
    name='Health & Beauty',
    opacity =.5
)

trace4 = go.Box(
    x = parts_accessories.days_to_sale,
    name='Parts & Accessories',
    opacity =.5
)

trace5 = go.Box(
    x = jewelry_watches.days_to_sale,
    name='Jewelry & Watches',
    opacity =.5
)

In [62]:
data = [trace0,trace1,trace2,trace3,trace4,trace5]

layout = go.Layout(title = 'profit_distribution_by_category',barmode='stack')
fig = go.Figure(data = data, layout = layout)

In [68]:
py.plot(fig, file='profit_distribution_box.html')

'https://plot.ly/~kevinbigfoot/38'